@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Rowdies:wght@300;400;700&display=swap');

/* Base font sizes */
.font-size-small {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

.font-size-medium {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.font-size-large {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

/* Responsive font sizes for small screens */
@media (min-width: 576px) {
    .font-size-small {
        font-size: 14px;
    }

    .font-size-medium {
        font-size: 18px;
    }

    .font-size-large {
        font-size: 22px;
    }
}

/* Responsive font sizes for medium screens */
@media (min-width: 768px) {
    .font-size-small {
        font-size: 16px;
    }

    .font-size-medium {
        font-size: 20px;
    }

    .font-size-large {
        font-size: 24px;
    }
}

/* Responsive font sizes for large screens */
@media (min-width: 992px) {
    .font-size-small {
        font-size: 18px;
    }

    .font-size-medium {
        font-size: 22px;
    }

    .font-size-large {
        font-size: 26px;
    }
}

/* Responsive font sizes for extra large screens */
@media (min-width: 1200px) {
    .font-size-small {
        font-size: 20px;
    }

    .font-size-medium {
        font-size: 24px;
    }

    .font-size-large {
        font-size: 28px;
    }
}

.signin-signup-container {
    margin-top: 100px;
}

.form-signup-signup {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}
.footer {
    background-color: white; /* Set main background color to white */
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer .col {
    flex: 1;
    padding: 0 15px;
    margin-bottom: 20px;
}

.footer p {
    margin-bottom: 10px;
    font-size: 14px; /* Adjust font size as needed */
    font-family: Arial, sans-serif; /* Set font family */
}

.footer h5 {
    margin-bottom: 15px;
    font-size: 16px; /* Adjust font size as needed */
    font-family: Arial, sans-serif; /* Set font family */
    font-weight: bold;
}

.footer a {
    color: #000000;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .bottom-row {
    background-color: black; /* Set bottom row background color to black */
    padding: 10px 0;
    color: white; /* Set font color to white */
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    text-decoration: none;
}

.thumbnail-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.thumbnail-image {
    max-width: 80px;
    height: auto;
    margin: 0 5px;
    cursor: pointer;
}

.thumbnail-image:hover {
    border: 2px solid #007bff;
}

.cart-total {
    font-size: 20px;
    font-weight: 600;
}

/* Fixed position for the right column */
.fixed-right-column {
    position: sticky;
    top: 60px;
    /* Adjust this value based on your navbar height */
}

.main-image-home {
    height: 700px;
    width: 100%;
}

@media (max-width: 767.98px) {
    .main-image-home {
        height: 400px;
    }
}

.captain {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
}

.nav-item {
    margin-right: 10px;
}

.nav-link i.material-symbols-outlined {
    color: black;
    font-size: 20px;
}

.nav-link {
    color: black;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-link:hover {
    color: gray;
}

.second-font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.product-name {
    text-decoration: none;
    color: #000000;
}

.card {
    width: 100%;
    height: 400px;
}

.card-img-top {
    width: 100%;
    height: 300px;
}

.main-box {
    background-color: #8E75F5;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.center-icon {
    display: block;
    margin: 0 auto 10px; /* Center icon horizontally */
}

.topic {
    color: white;
    font-weight: bold;
    font-family: "Rowdies", sans-serif;
}

.category-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.category-image {
    width: 100%;
    height: 350px;
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .category-image {
        height: 250px;
    }
    .card {
        width: 100%;
        height: 300px;
    }
    .card-img-top {
        width: 100%;
        height: 200px;
    }
}

.category-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.category-box:hover .category-image {
    transform: scale(1.1);
}

.category-box:hover .category-name {
    opacity: 1;
}

.filter-section {
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

@media (max-width: 768px) {
    .filter-section {
        background-color: rgb(255, 255, 255);
        height: 40vh;
    }

    .filter-input {
        max-width: 60%;
    }
}


.filter_icon{
    width: 20px;
}