.signin-signup-container {
    margin-top: 100px;
}

.form-signup-signup {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.footer {
    background-color: #f8f9fa;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer .col {
    flex: 1;
    padding: 0 15px;
    margin-bottom: 20px;
}

.footer p {
    margin-bottom: 10px;
}

.footer a {
    color: #000000;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.thumbnail-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.thumbnail-image {
    max-width: 80px;
    height: auto;
    margin: 0 5px;
    cursor: pointer;
}

.thumbnail-image:hover {
    border: 2px solid #007bff;
}
